{% extends 'base.html' %}

{% block content %}
<h3>GuestBook</h3>
<form method="post">
    大名:<input type="text" name="name"  autocomplete="off" required><br><br>
    留言:<input type="text" name="msg"  autocomplete="off" required><br><br>
    <input class="btn" type="submit" name="submit" value="留言">
</form>
<ul class="movie-list">
 {% for msg in msgs %}
    <li>第{{ msg.id }}楼<h1>{{ msg.msg }}</h1>
        用户：&nbsp;&nbsp;{{ msg.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ msg.c_time }}&nbsp;&nbsp;
        IP :{% if msg.r_ip %} {{ msg.r_ip }}
            {% else %} 未知
            {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}