{% extends "base.html" %}

{% block content %}
<p>{{ movies|length }} Titles</p>
<form method="post">
    id   <input type="text" name="id"    autocomplete="off" required>
    Name <input type="text" name="title" autocomplete="off" required>
    Year <input type="text" name="year"  autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>
<ul class="movie-list">
    {% for movie in movies %}  {# 迭代 movies 变量 #}
    <li>{{ movie[0] }} - {{ movie[1] }} -- {{ movie[2] }}
        <span class="float-right">
            <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie[0]) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            <a class="btn" href="{{ url_for('edit', movie_id=movie[0]) }}">Edit</a>
            <a class="imdb" href="https://www.imdb.com/find?q={{ movie[1] }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
            </form>
        </span>
    </li>  {# 等同于 movie['title'] #}
    {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
</ul>
<img alt='Walking totoro' class="totoro" src="{{ url_for('static', filename='imgs/10.jpg')  }}" title="to~to~ro~">
{% endblock %}