{% extends 'base.html' %}
{% block content %}
<h3>Edit item</h3>
<form method="post">
    Name <input type="text" name="title" autocomplete="off" required value="{{ movie.title }}">
    Year <input type="text" name="year"  autocomplete="off" required value="{{ movie.year }}">
    <input class="btn" type="submit" name="submit" value="Update">
</form>
{% endblock %}

@blue.route('/goodslist/<int:num>/<int:per>/')
def goodslist(num,per):
    # 第num页
    # 每页显示per行
    goods = Goods.query.offset((num-1) * per).limit(per)

    return render_template('goodslist.html', goods=goods