{% extends 'base.html' %}

{% block content %}
<h3>Settings</h3>
<form method="post">
    Your Name <br>
    <input type="text" name="name" autocomplete="off" required value="{{ current_user.name }}"><br><br>

    Your email <br>
    <input type="text" name="email" autocomplete="off" required value="{{ current_user.email }}"><br><br>
    Your addr <br>
    <input type="text" name="addr" autocomplete="off" required value="{{ current_user.addr }}"><br><br>
    Birthday <br>
    <input type="text" name="birthday" autocomplete="off" value="{{ current_user.birthday }}"><br><br>
    <input class="btn" type="submit" name="submit" value="Save">
</form>
{% endblock %}